<WFE><filteredOutputs>RXCUI|classId|classType|name|rela|relaSource|term_type</filteredOutputs><input>61807</input><FS><service>NOINPUT</service><function>findRxcuiById</function><level>0</level><paramSize>3</paramSize><param order ='1'>?</param><param order ='0'>GCN_SEQNO</param><param order ='2'>0</param></FS><FS><service>NOINPUT</service><function>getClassByRxNormDrugId</function><level>1</level><paramSize>3</paramSize><param order ='0'>?</param><param order ='1'>ATC</param><param order ='2'>N/A</param></FS></WFE>